@tailwind base;
@tailwind components;

/* Fonts for prod */
@font-face {
  font-family: 'bavro';
  src: url('/fonts/bavro/bavro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoose';
  src: url('/fonts/cocogoose-classic-trial/Cocogoose-Classic-Medium-trial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoosebold';
  src: url('/fonts/cocogoose-classic-trial/Cocogoose-Classic-ExtraBold-trial.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Fonts for dev */
/* @font-face {
  font-family: 'bavro';
  src: url('/public/fonts/bavro/bavro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoose';
  src: url('/public/fonts/cocogoose-classic-trial/Cocogoose-Classic-Medium-trial.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoosebold';
  src: url('/public/fonts/cocogoose-classic-trial/Cocogoose-Classic-ExtraBold-trial.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tommy';
  font-style: normal;
  font-weight: normal;
  src: local('MADE Tommy Soft Outline Regular'),
    url('/public/fonts/made-tommy-soft-outline/MADE-Tommy-Soft-Regular-Outline.woff') format('woff');
} */

.glassmorphism-effect {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.portfolio-item {
  background-color: transparent;
  box-shadow: none;
  backdrop-filter: none;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

label {
  @apply text-white my-4;
}

input {
  height: 50px;
  padding-left: 10px;
}

input:focus,
textarea:focus {
  outline: 0;
}

.services {
  transition: all 0.3s ease;
}

.services:hover {
  transition: all 0.3s ease;
  @apply text-render-hotpink scale-125;
}

.gradiente {
  @apply bg-gradient-to-br from-render-blue via-render-purple to-render-blue bg-no-repeat;
  background-color: #7f2e84;
  color: #777;
}

.portfolio-container {
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  @apply flex lg:grid lg:grid-cols-4 lg:place-items-center lg:gap-8 lg:overflow-x-hidden;
}

.client {
  width: fit-content;
  padding: 10px;
  @apply relative grid place-items-center h-[316px] w-44 md:w-32;
}

.client-card {
  scroll-snap-align: center;
  width: 300px;
  @apply h-[316px] mr-4 lg:mr-0 md:h-64;
}

.team-card {
  scroll-snap-align: center;
  margin-right: 1rem;
}

.team-member {
  width: fit-content;
  @apply relative grid place-items-center w-40 md:w-48 lg:w-60 lg:mb-4;
}

@tailwind utilities;

.client img {
  width: 180px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  z-index: 9999;
}

.open-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(400%);
  transition: transform 0.6s ease-in-out;
  z-index: 9999;
  overflow-x: hidden;
}

.nav-main {
  /* position: absolute; */
  background: rgba(255, 255, 255, 0.1);
  width: 100vw;
  padding: 40px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.close-btn {
  opacity: 0.3;
  position: absolute;
  top: 15rem;
  right: 2rem;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  align-items: flex-end;
  height: 100%;
}

.list li {
  margin: 20px 0;
}

.list li a {
  /* color: rgb(34, 31, 31); */
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.list ul {
  list-style-type: none;
  /* padding-left: 20px; */
  padding: 0;
}

@media (min-width: 768px) {
  .nav {
    top: 0;
    margin-right: 6%;
  }
  .nav-main {
    background-color: transparent;
    backdrop-filter: blur(0);
    border: 0;
    width: auto;
    height: fit-content;
    transform: translateX(0);
    position: absolute;
    padding: 0;
  }

  .list {
    flex-direction: row;
    padding-top: 10px;
    align-items: initial;
    height: fit-content;
  }

  .open-btn {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .list li {
    font-size: 1rem;
    margin-right: 10px;
  }

  .list li a {
    font-size: 16px;
  }

  .list li:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 1000px) {
  .list {
    padding: 0;
    padding-top: 10px;
  }

  .list li {
    transition: transform 0.4s ease;
    height: fit-content;
  }

  .list li:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
  }

  .list li:not(:last-child) {
    margin-right: 30px;
  }

  .btn-cta {
    transition: all 0.4s ease;
    padding-left: 0;
  }

  .btn-cta:hover,
  .btn-cta.glassmorphism-effect:hover {
    transform: scale(1.2);
    transition: all 0.4s ease;
    background-color: #fff;
    color: #7f2e84;
    /* color: #5c4fa1; */
  }

  button:hover a {
    color: #7f2e84;
  }
}

button.glassmorphism-effect,
.btn-cta.glassmorphism-effect {
  background-color: #ef477a;
}

a {
  display: flex;
  color: #fff;
}

.hidden-modal {
  transform: scale(0);
  transition: transform 0.3s ease;
}

#modal {
  transition: transform 0.4s ease;
  border-radius: 16px;
}
